body {
    height: 400px;
    width: 300px;
    text-align: center;
    background-color: brown;
    margin: 0;
}

h1, h2 {
    color: whitesmoke;
    margin: 10px;
}

.header {
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: whitesmoke;
    padding: 10px;
}

button {
    color: brown;
    background-color: whitesmoke;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px;
    font-weight: bold;
    width: 85px;
    cursor: pointer;
}

#btn-container {
    margin: 10px;
}

input {
    height: 20px;
    background-color: whitesmoke;
    color: brown;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    border: none;
    padding: 5px;
    margin: 5px 2px;
}

.delete-btn {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}

